@import "./vendors/variables";
@import "./vendors/extends";


.form {
	margin: 0 auto;
	background-color: yellow;
	padding: 20px;

 &__logo {
	text-align: center;
	font-size: 20px;
}

&__avatar{
	margin: 0 auto;
	display: block;
	width: 120px;
	height: 120px;
	max-width: 1200px;
	border-radius: 50%;
	background-color: black;
}

&__name {
	text-align: center;
	margin-bottom: 20px;
}
}
